USE [Consultorio3]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Paciente]') AND type in (N'U'))
ALTER TABLE [dbo].[Paciente] DROP CONSTRAINT IF EXISTS [Foreign_IdMedPaciente]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Farmacia]') AND type in (N'U'))
ALTER TABLE [dbo].[Farmacia] DROP CONSTRAINT IF EXISTS [DF__Farmacia__IdProd__403A8C7D]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Consultorios]') AND type in (N'U'))
ALTER TABLE [dbo].[Consultorios] DROP CONSTRAINT IF EXISTS [DF__Consultor__IdCon__3B75D760]
GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 02/11/2019 12:30:10 a. m. ******/
DROP TABLE IF EXISTS [dbo].[Paciente]
GO
/****** Object:  Table [dbo].[Medicos]    Script Date: 02/11/2019 12:30:10 a. m. ******/
DROP TABLE IF EXISTS [dbo].[Medicos]
GO
/****** Object:  Table [dbo].[Farmacia]    Script Date: 02/11/2019 12:30:10 a. m. ******/
DROP TABLE IF EXISTS [dbo].[Farmacia]
GO
/****** Object:  Table [dbo].[Consultorios]    Script Date: 02/11/2019 12:30:10 a. m. ******/
DROP TABLE IF EXISTS [dbo].[Consultorios]
GO
/****** Object:  Table [dbo].[Consulta]    Script Date: 02/11/2019 12:30:10 a. m. ******/
DROP TABLE IF EXISTS [dbo].[Consulta]
GO
USE [master]
GO
/****** Object:  Database [Consultorio3]    Script Date: 02/11/2019 12:30:10 a. m. ******/
DROP DATABASE IF EXISTS [Consultorio3]
GO
/****** Object:  Database [Consultorio3]    Script Date: 02/11/2019 12:30:10 a. m. ******/
CREATE DATABASE [Consultorio3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Consultorio3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Consultorio3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Consultorio3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Consultorio3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Consultorio3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Consultorio3]
GO
/****** Object:  Table [dbo].[Consulta]    Script Date: 02/11/2019 12:30:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consulta](
	[IdConsulta] [tinyint] NOT NULL,
	[IdConsultorio] [uniqueidentifier] NOT NULL,
	[IdPaciente] [int] NOT NULL,
	[NombreP] [varchar](255) NOT NULL,
	[ApPat] [varchar](255) NOT NULL,
	[ApMat] [varchar](255) NOT NULL,
	[NombreCompletoP]  AS (((([NombreP]+' ')+[ApPat])+' ')+[ApMat]),
	[IdMedico] [int] NOT NULL,
	[Medico] [varchar](255) NOT NULL,
	[IdProducto] [uniqueidentifier] NOT NULL,
	[Precio] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdConsulta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consultorios]    Script Date: 02/11/2019 12:30:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultorios](
	[IdConsultorio] [uniqueidentifier] NOT NULL,
	[Direccion] [varchar](255) NOT NULL,
	[Especializacion] [varchar](255) NOT NULL,
	[HoraEntrada] [time](7) NOT NULL,
	[HoraSalida] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdConsultorio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Farmacia]    Script Date: 02/11/2019 12:30:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Farmacia](
	[IdProducto] [uniqueidentifier] NOT NULL,
	[NomMedicamento] [varchar](50) NOT NULL,
	[Precio] [int] NOT NULL,
	[Existencias] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicos]    Script Date: 02/11/2019 12:30:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicos](
	[IdMedico] [int] NOT NULL,
	[Especializacion] [varchar](255) NOT NULL,
	[NombreM] [varchar](255) NOT NULL,
	[PrimerApellidoM] [varchar](255) NOT NULL,
	[SegundoApellidoM] [varchar](255) NULL,
	[HoraEntrada] [time](7) NOT NULL,
	[HoraSalida] [time](7) NOT NULL,
	[Farmacia] [varchar](2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMedico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 02/11/2019 12:30:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente](
	[IdPaciente] [int] NOT NULL,
	[NombreP] [varchar](255) NOT NULL,
	[PrimerApellidoP] [varchar](255) NOT NULL,
	[SegundoApellidoP] [varchar](255) NULL,
	[NombreCompleto]  AS (((([NombreP]+' ')+[PrimerApellidoP])+' ')+[SegundoApellidoP]),
	[Edad] [int] NOT NULL,
	[IdMedico] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPaciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Consulta] ([IdConsulta], [IdConsultorio], [IdPaciente], [NombreP], [ApPat], [ApMat], [IdMedico], [Medico], [IdProducto], [Precio], [Fecha]) VALUES (1, N'cf5a2aa8-b73a-4c7b-9f90-768bbae14e09', 4, N'Miguel', N'Rosas', N'Mora', 30, N'Simon Corazon Feliz', N'af828ee9-2c64-46d4-be9f-37c6fe9cd35c', 240, CAST(N'2019-11-02T00:16:30.520' AS DateTime))
INSERT [dbo].[Consulta] ([IdConsulta], [IdConsultorio], [IdPaciente], [NombreP], [ApPat], [ApMat], [IdMedico], [Medico], [IdProducto], [Precio], [Fecha]) VALUES (2, N'2aded89d-ff12-4480-9466-399e336b1e7b', 18, N'Pedro', N'Infante', N'Infancia', 80, N'Stephen Vincent Strange', N'2b1a7303-f116-4eac-9dc1-52ca63643099', 350, CAST(N'2019-11-02T00:27:14.100' AS DateTime))
INSERT [dbo].[Consulta] ([IdConsulta], [IdConsultorio], [IdPaciente], [NombreP], [ApPat], [ApMat], [IdMedico], [Medico], [IdProducto], [Precio], [Fecha]) VALUES (3, N'37afe196-a50f-4cee-a999-63879b49cda9', 3, N'Aquiles', N'Bailo', N'Yogu', 10, N'Senku Einstein Penicilina', N'26b773f3-d69a-40b1-a7ee-577d120202ce', 45, CAST(N'2019-11-02T00:27:14.100' AS DateTime))
INSERT [dbo].[Consultorios] ([IdConsultorio], [Direccion], [Especializacion], [HoraEntrada], [HoraSalida]) VALUES (N'2aded89d-ff12-4480-9466-399e336b1e7b', N'Av. Lazaro Cardenas 600', N'Neurologia', CAST(N'07:00:00' AS Time), CAST(N'23:00:00' AS Time))
INSERT [dbo].[Consultorios] ([IdConsultorio], [Direccion], [Especializacion], [HoraEntrada], [HoraSalida]) VALUES (N'15b158c4-48cd-48bd-a3da-4289ecf6d491', N'Av. Benito Juarez 202', N'Cirugia Plastica', CAST(N'08:00:00' AS Time), CAST(N'22:00:00' AS Time))
INSERT [dbo].[Consultorios] ([IdConsultorio], [Direccion], [Especializacion], [HoraEntrada], [HoraSalida]) VALUES (N'6b0403bf-6552-45d0-88aa-54824353b9ab', N'Av. Constitucion 321', N'Traumatologia', CAST(N'07:00:00' AS Time), CAST(N'23:00:00' AS Time))
INSERT [dbo].[Farmacia] ([IdProducto], [NomMedicamento], [Precio], [Existencias]) VALUES (N'e2df2445-8a77-48ac-ac1e-01eceb1e70b2', N'Norfloxacino', 100, 1)
INSERT [dbo].[Farmacia] ([IdProducto], [NomMedicamento], [Precio], [Existencias]) VALUES (N'a30a6a5d-af26-45d4-a3d5-0463856801a2', N'Citalopram Hidrobromuro', 170, 1)
INSERT [dbo].[Farmacia] ([IdProducto], [NomMedicamento], [Precio], [Existencias]) VALUES (N'0d346f4b-5ce2-47a3-bce7-052e3ee85eac', N'Ebastina', 40, 1)
INSERT [dbo].[Medicos] ([IdMedico], [Especializacion], [NombreM], [PrimerApellidoM], [SegundoApellidoM], [HoraEntrada], [HoraSalida], [Farmacia]) VALUES (10, N'General', N'Senku', N'Einstein', N'Penicilina', CAST(N'09:00:00' AS Time), CAST(N'23:00:00' AS Time), N'no')
INSERT [dbo].[Medicos] ([IdMedico], [Especializacion], [NombreM], [PrimerApellidoM], [SegundoApellidoM], [HoraEntrada], [HoraSalida], [Farmacia]) VALUES (20, N'Geriatra', N'Ramon', N'Field', N'Solorio', CAST(N'08:00:00' AS Time), CAST(N'22:00:00' AS Time), N'si')
INSERT [dbo].[Medicos] ([IdMedico], [Especializacion], [NombreM], [PrimerApellidoM], [SegundoApellidoM], [HoraEntrada], [HoraSalida], [Farmacia]) VALUES (30, N'Cardiologo', N'Simon', N'Corazon', N'Feliz', CAST(N'08:00:00' AS Time), CAST(N'19:00:00' AS Time), N'no')
INSERT [dbo].[Paciente] ([IdPaciente], [NombreP], [PrimerApellidoP], [SegundoApellidoP], [Edad], [IdMedico]) VALUES (1, N'Carlos', N'Buentello', N'Cruz', 20, 10)
INSERT [dbo].[Paciente] ([IdPaciente], [NombreP], [PrimerApellidoP], [SegundoApellidoP], [Edad], [IdMedico]) VALUES (2, N'Joel', N'Sampayo', N'Climaco', 58, 20)
INSERT [dbo].[Paciente] ([IdPaciente], [NombreP], [PrimerApellidoP], [SegundoApellidoP], [Edad], [IdMedico]) VALUES (3, N'Aquiles', N'Bailo', N'Yogu', 31, 10)
ALTER TABLE [dbo].[Consultorios] ADD  DEFAULT (newid()) FOR [IdConsultorio]
GO
ALTER TABLE [dbo].[Farmacia] ADD  DEFAULT (newid()) FOR [IdProducto]
GO
ALTER TABLE [dbo].[Paciente]  WITH CHECK ADD  CONSTRAINT [Foreign_IdMedPaciente] FOREIGN KEY([IdMedico])
REFERENCES [dbo].[Medicos] ([IdMedico])
GO
ALTER TABLE [dbo].[Paciente] CHECK CONSTRAINT [Foreign_IdMedPaciente]
GO
USE [master]
GO
