USE [master]
GO
/****** Object:  Database [Consultorio]    Script Date: 31/08/2019 12:53:38 p.m. ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'Consultorio')
DROP DATABASE [Consultorio]
GO
/****** Object:  Database [Consultorio]    Script Date: 31/08/2019 12:53:38 p.m. ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'Consultorio')
BEGIN
CREATE DATABASE [Consultorio]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Consultorio', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Consultorio.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Consultorio_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Consultorio_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Consultorio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
